:root {
    font-size: 16px;
}
body {
    background: radial-gradient(rgb(237, 234, 226), rgb(5, 149, 96));
    min-height: 100vh;
    margin: 0;
}
#wrapper {
    --margin: 1rem;

    min-height: calc(100vh-2*var(--margin));
    height: auto;
    width: 80vw;
    margin: var(--margin) auto;
    background: radial-gradient(rgb(237, 229, 229), rgb(46, 123, 167));
    box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(170,200,200, 0.5);
    border-radius: 1rem;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu-item {
    display: inline-block;
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 0.3rem 0.7rem;
    border-inline-end: 0.25rem solid black;
    border-radius: 1rem;
}
.menu-item.active {
    background-color: #ff9494;
}
h1 {
    text-align: center;
    padding-block-start: 0.3rem;
}
.container {
    display: flex;
    flex-direction:column;
}
#image {
    width: 70%;
    margin-inline: auto;
    padding-block-start: 0.7rem;
}
h2 {
    text-transform: capitalize;
    font-weight: bold;
    margin-inline: 1rem auto;
    margin-block-start: 0.5rem;
}
p {
    text-transform: capitalize;
    font-size: 1rem;
    margin-inline: 1rem auto;
    margin-block-start: 0.5rem;
}
#buton {
    background-color: rgb(24, 154, 224);
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5ch;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    margin-inline: 1rem auto;
    margin-block: 1rem;
}
#zona-libera {
    border: 1px solid black;
    width: 90%;
    height: 20vh;
    margin-block-end: 1rem;
    margin-inline: auto;
    border-radius: 0.3rem;
    background: conic-gradient(rgb(219, 44, 44), rgb(241, 241, 19), rgb(58, 58, 215), rgb(57, 201, 57),rgb(230, 34, 230) );
}

@media (min-width: 512px) {
    #wrapper {
        height: 100vh;
        width: 80vw;
    }
    nav {
        flex-grow: 1;
        justify-content: flex-end;
    }
    header {
        display: flex;
        flex-direction: row;
        height: 2rem;
        align-items: center;
        grid-area: Header;
        grid-row: 1/2;
        grid-column: 1/3;
        padding: 1rem;
    }
    .container {
        display: grid;
        grid-template-areas:
        "H2     IMAGE"
        "P      IMAGE"
        "BUTON  IMAGE"
        "ZONA   ZONA";
        grid-template-columns: 40% 60%;
        grid-template-rows: min-content min-content min-content auto;
        gap: 1rem;
    }
    #image {
        grid-area: IMAGE;
    }
    h2 {
        grid-area: H2;
    }
    p {
        grid-area: P;
    }
    #buton {
        grid-area: BUTON;
        margin-block: 0;
    }
    #zona-libera {
        grid-area: ZONA;
        height: 35vh;
        margin-inline: 1rem auto;
        background: repeating-radial-gradient(rgb(11, 138, 141), rgb(200, 100, 150) 50px);
    }

}
@media (min-width: 712px) {
    #wrapper {
        width: 60vw;
    }

    #image {
        width: 70%;
        margin-inline: auto;
    }

    #zona-libera {
        height: 38vh;
        background: repeating-radial-gradient(rgb(45, 19, 214), rgb(205, 142, 25) 100px);
        margin-block-end: 1rem;
    }

    @media (min-width: 1100px) {  
        :root {
            font-size: 20px;
        }  
        #image {
            width: 60%;
            margin-inline: auto;
        }
        #buton {
            height: 1.5rem;
        }
    
        #zona-libera {
            height: 33vh;
            background: repeating-radial-gradient(rgb(45, 19, 214), rgb(205, 142, 25) 100px);
            margin-block-end: 1rem;
        }

}