:root {
    font-size: 16px;
}
body {
    background: radial-gradient(rgb(237, 234, 226), rgb(5, 149, 96));
    height:100vh;
}
#wrapper {
    height: 95vh;
    width: 80vw;
    background: radial-gradient(rgb(237, 229, 229), rgb(46, 123, 167));
    margin-inline:auto;
    border-radius: 1rem;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav a {
    color:black;
    text-decoration: none;
    padding: 0.3rem 0.7rem;
    border-inline-end: 0.5rem solid black;
    border-radius:0.7rem;
}